altgraph==0.17
asgiref==3.2.10
astroid==2.3.3
cheroot==8.4.5
click==7.1.2
colorama==0.4.1
Django==3.1.2
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
jaraco.functools==3.0.1
Jinja2==2.11.2
joblib==0.17.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
numpy==1.19.2
pandas==1.1.2
pefile==2019.4.18
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pylint==2.4.4
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.13.0
sqlparse==0.3.1
threadpoolctl==2.1.0
web.py==0.61
Werkzeug==1.0.1
wrapt==1.11.2
